.desc p {
  font-size: 17px;
}

.border-tebal {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.column-small {
  width: 20%;
}

.column-medium {
  width: 20%;
}

.column-large {
  width: 50%;
}

@media print {
  .column-small {
    width: 20%;
  }
  .column-medium {
    width: 30%;
  }
  .column-large {
    width: 50%;
  }
}
