body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hanya tampilkan elemen yang diperlukan saat mencetak */
@media print {
  .no-print {
    display: none;
  }

  /* Tampilan tabel dan elemen lain saat cetak agar sesuai dengan proporsi A4 */
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
  }

  /* Ukuran font untuk tampilan cetak */
  h4,
  h5,
  p {
    font-size: 12pt;
  }
}
